/Projetos/Admin/nbproject/private/
/Projetos/Aluno/nbproject/private/
/Projetos/Professor/nbproject/private/
/Projetos/Admin/build/
/Projetos/Aluno/build/
/Projetos/Professor/build/
/Projetos/Professor/dist/