/**
 *
 * @author Marcio
 */

.form-user-register {
    
}

.form-user-register th, .form-user-register td {
    padding: 2px 0;
    border: none;
    overflow: hidden;
    display: inline-block;
}

.form-user-register tr > td {
    width: 100%;
}

.form-user-register tr > th {
    width: 160px;
    height: 22px;
}

.text-lg-standard {
    width: 100%;
}

@media screen and (width: 400px) {
    .text-lg-standard {
        max-width: 100%;
    }
}