/* 
    Created on : 11/09/2018, 15:18:47
    Author     : Freakazed-PC
*/

table.scroll-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll-table tbody,
table.scroll-table thead {
    display: block;
}

.scroll-table > thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll-table > tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-table tbody { border-top: 2px solid black; }

.scroll-table tbody td, thead th {
    width: 20%; /* Optional */
    border-right: 1px solid black;
}

.scroll-table tbody td:last-child, .scroll-table thead th:last-child {
    border-right: none;
}